---
layout: default
title: About
permalink: /about/
---
<section class="About">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Saket Saurav{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}I am a learner interested in cyber security with special interests in Network Security and Red Teaming .{% endif %}</p>
          <p class="author_subtitle">Apart from that i am a noob CTF player on Hackthebox.<br />I am working as a security consultant in India<br /></p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
